
.form-container {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 5px;
  background-color: lightgrey;
}

.form-container > form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

select.input, .input {
  background: none;
  border: none;
  border-radius: 0px;
  border-bottom: 1px dashed grey;
  box-shadow: none;
  min-width: 150px;
  width: 10vw;
  font-style: italic;
}

select.input:focus, .input:focus {
  border: 1px dashed grey;
  box-shadow: none;
}

form .label {
  text-align: left;
}

.events-container {
  padding-bottom: 200px;
}

.events-container span {
  display: block;
  margin: 100px
}

.events-container .card {
  width: 80%;
  padding: 20px 30px;
  border-radius: 5px;
  margin: 20px auto;
}

.events-container .card .media {
  display: flex;
  flex-wrap: wrap;
}

.events-container .card > .content {
  text-align: justify;
}

.events-container .card .title {
  color: #f1914a;
}

.events-container .card img {
  width: 15vw;
}

.link-container {
  display: block;
  text-align: center;
}
/*
@media only screen and (max-width: 765px) {

  .form-container {

    background-color: red;
  }

}*/

/*.event {
  margin: 0 150px 20px 50px;
  padding: 20px 30px;
  border-radius: 5px;
}

.event .title {
  color: #f1914a;
}

.media-content {
  padding: 0px 20px;
  text-align: justify;
}

.event img {
  max-height: 256px;
  max-width: 256px;
}*/


/*.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}*/