.detail {
	min-width: 200px;
	margin: 150px 20vw 100px 20vw;
	text-align: justify;
}
/*
.media-content {
	overflow: hidden;
	padding-bottom: 20px;
}*/

.detail .event-detail {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 10px;
	border-bottom: 2px dotted var(--primary-color);
}

.detail .event-picture {
	margin: 20px auto 0px auto;
	max-width: 50vw;

}