.footer {
	background-color: var(--primary-color);
	color: var(--primary-text);
	min-height: 200px;
	bottom-margin: 0;
	width: 100%;

	iframe {
		min-width: 250px;
		width: 30vw;
		min-height: 250px;
		height: 100%;
	}

	a {
		color: white;
	}

	.footer-logo {
		display: block;

		img {
			width: 150px;
			height: 150px;
		}
	}
}
