.navbar, .navbar-menu {
	background-color: var(--primary-color);

	.navbar-item {
		color: white;

		&.logo {
			padding: 0px;
		}
	}

	.navbar-start {
		padding-top: 2px;
		padding-left: 20px;

		.title {
			font-family: 'Amatic SC', cursive;
		}

		.subtitle {
			font-size: 1rem;
		}

		span {
			color: var(--primary-text);
		}
	}

	.navbar-link {
		color: var(--primary-text);
	}

	.navbar-dropdown {
		background-color: var(--primary-color);
	}

	.navbar-item > img {
		width: 70px;
		min-height: 70px;
	}

	.navbar-burger {
		color: var(--primary-text);
		margin-top: auto;
		margin-bottom: auto;
	}
}