@import '../variables';

.form-container {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 5px;
  background-color: lightgrey;

  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 15px;

    .label {
      text-align: left;
    }

    button[type="submit"] {
      background-color: #666666;
      color: white;
    }

    select.input, .input {
      background: none;
      border: none;
      border-radius: 0px;
      border-bottom: 1px dashed grey;
      box-shadow: none;
      min-width: 200px;
      width: 10vw;
      font-style: italic;

      &:focus {
        border: 1px dashed grey;
        box-shadow: none;
      }
    }
  }
}

.events-container {
  padding-bottom: 200px;

  .text-container {
    display: block;
    margin: 100px;
  }

  .card {
    width: 80%;
    padding: 20px 30px;
    border-radius: 5px;
    margin: 20px auto;

    .media {
      display: flex;
      flex-wrap: wrap;
    }

    .content {
      text-align: justify;
    }

    .media-left img {
      width: 200px;
      max-height: 30vh;
    }

    .link-container {
      display: block;
      text-align: center;
    }
  }
}