@import '../variables';

.navbar, .navbar-menu {

	.navbar-item {
		color: white;

		&.logo {
			padding: 0px;
		}
	}

	.has-dropdown {
		color: red;
	}

	.navbar-start {
		padding-top: 2px;
		padding-left: 20px;

		.title {
			font-family: 'Amatic SC', cursive;
		}

		.subtitle {
			font-size: 1rem;
		}

		span {
			color: $primary-text;
		}
	}

	.navbar-item > img {
		width: 70px;
		min-height: 70px;
	}

	.navbar-burger {
		margin-top: auto;
		margin-bottom: auto;
	}
}