{% load static %}
{% load flatpages %}


<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item logo" href="{% url 'website:index' %}">
      <img src="{% static 'website/img/logos/V2-chapelle.png' %}" width="100%" height="100%">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div>
        <span class="title">La Chapelle</span><br>
        <span class="subtitle">Lieu d’expérimentation sociale, politique et culturelle</span>
      </div>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="{% url 'website:index' %}">
        Accueil
      </a>

      <a class="navbar-item" href="{% url 'website:events' %}">
        Les événements
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Un Projet ?
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Faire une demande
          </a>
          <a class="navbar-item">
            Agenda détaillé
          </a>
          <a class="navbar-item">
            FAQ
          </a>
        </div>
      </div>

      {% get_flatpages '/collectifs/' as collectifs_pages %}
      {% if collectifs_pages %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Les Collectifs
          </a>

          <div class="navbar-dropdown">
            {% for page in collectifs_pages %}
              <a class="navbar-item" href="{{ page.url }}">
                {{ page.title }}
              </a>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% get_flatpages '/lieu/' as lieu_pages %}
        {% if lieu_pages %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Le lieu
          </a>

          <div class="navbar-dropdown">
            {% for page in lieu_pages %}
              <a class="navbar-item" href="{{ page.url }}">
                {{ page.title }}
              </a>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% get_flatpages '/ailleurs/' as ailleurs_pages %}
      {% if ailleurs_pages %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Ailleurs
          </a>

          <div class="navbar-dropdown">
            {% for page in ailleurs_pages %}
              <a class="navbar-item" href="{{ page.url }}">
                {{ page.title }}
              </a>
            {% endfor %}
          </div>
        </div>
      {% endif %}

   </div>
</nav>


<link rel="stylesheet" type="text/css" href="{% static 'website/css/navbar.css' %}">
<script type="text/javascript" src="{% static 'website/js/navbar.js' %}"></script>