{% extends 'website/base.html' %}

{% load static sass_tags %}

{% block content %}
	<div class="detail">
		<h1 class="title is-size-2">
			{{ article.title | safe }}
		</h1>
		<span class="date-container is-size-6">
			Publié le {{ article.created_on | date:"d F Y" | lower }}
			{% if article.updated_on > article.created_on %}
				 | Mis à jour le {{ article.updated_on | date:"d F Y" | lower }}
			{% endif %}
		</span>
		<hr>
		<article>
			<div class="content">
				{{ article.content | safe }}
			</div>
		</article>
	</div>

	<link rel="stylesheet" type="text/css" href="{% sass_src 'website/scss/components/detail.scss' %}">

{% endblock %}