<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>La chapelle</title>
    {% load static %}
    <link rel="icon" href="{% static 'website/img/logos/favico.png' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Ubuntu&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="{% static 'website/css/base.css' %}">
  </head>
  <body>

  <!-- Nav bar -->
  {% include 'website/_navbar.html' %}

  {% block content %}
  {% endblock %}

  </body>

  {% include 'website/_footer.html' %}

</html>

