{% extends 'website/base.html' %}

{% load static %}

{% block content %}
	<section class="detail">
		<div class="media">
			<div class="media-left">
			  {% if event.photo %}
			    <figure class="image">
			      <img src="{{ event.photo.url }}" alt="event image">
			    </figure>
			  {% endif %}
			</div>
			<div class="media-content">
			  <h2 class="title is-4">{{ event.title }}</h2>
			  <h3 class="subtitle is-6">{{ event.subtitle }}</h3>
			  <span>
			    <span class="icon">
			      <i class="far fa-calendar-alt"></i>
			    </span>
			    <time datetime="{{ event.event_date }}">{{ event.event_date }}</time>
			  </span>
			</div>
		</div>
		<hr>
		<article>
			<div class="content">
				{{ event.description | safe }}
			</div>
		</article>
	</section>

	<link rel="stylesheet" type="text/css" href="{% static 'website/css/detail.css' %}">

{% endblock %}