{% extends 'website/base.html' %}

{% load static sass_tags %}

{% block content %}
	<section class="detail">
		<div class="event-header">
			<div class="event-infos">
				<h1 class="title is-4">{{ event.title }}</h1>
				<h2 class="subtitle is-6">{{ event.subtitle }}</h2>
				<div class="event-detail">
					<span>
						<span class="icon">
							<i class="fas fa-tag"></i>
						</span>
						{{ event.event_type }}
					</span>
					<span>
						<span class="icon">
							<i class="far fa-calendar-alt"></i>
						</span>
						<time datetime="{{ event.event_date }}">{{ event.event_date | date:"D d M Y"}}</time>
						<span class="icon">
							<i class="far fa-clock"></i>
						</span>
						<time datetime="{{ event.event_date }}">{{ event.event_date | date:"G:i"}}</time>
					</span>
					{% if event.infos %}
						<span>
							<span class="icon">
								<i class="fas fa-info-circle"></i>
							</span>
							{{ event.infos }}
						</span>
					{% endif %}
				</div>
			</div>
			<div class="event-picture">
			  {% if event.photo %}
			    <figure class="image">
			      <img src="{{ event.photo.url }}" alt="event image">
			    </figure>
			  {% endif %}
			</div>
		</div>
		<hr>
		<article>
			<div class="content">
				{{ event.description | safe }}
			</div>
		</article>
	</section>

	<link rel="stylesheet" type="text/css" href="{% sass_src 'website/scss/detail.scss' %}">

{% endblock %}