{% extends 'website/base.html' %}
{% load static %}

{% block content %}
  <section class="events">
    <div class="container">
        <div class="form-container ">
          <form method="get">

            <div class="field">
              <div class="field-label">
                <label class="label">&#192; partir du</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input name="date" class="input" id="datetime" type="date" default="Null">
                  </div>
                </div>
              </div>
            </div>

            <div class="field">
              <div class="field-label">
                <label class="label">Type d'évènement</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    {% if eventTypes %}
                      <div class="select">
                        <select class="input" name="type" default="Tous">
                          <option>Tous</option>
                          {% for eventType in eventTypes %}
                            <option>{{ eventType.name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="field">
              <div class="field-label">
                <label class="label">Recherche</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input type="text" class="input" name="keyword" placeholder="Mot clé">
                  </div>
                </div>
              </div>
            </div>

            <div class="control has-text-centered">
              <button type="submit" class="button is-primary is-large">Filtrer</button>
            </div>
          </form>
        </div>

        <div class="events-container">
          {% if events %}
            {% for event in events %}
              <div class="event card">
                <div class="card-content">
                  <h1 class="title is-4">
                    {{ event.event_type }}
                  </h1>
                  <div class="media">
                    <div class="media-left">
                      {% if event.photo %}
                        <figure class="image">
                          <img src="{{ event.photo.url }}" alt="event image">
                        </figure>
                      {% endif %}
                    </div>
                    <div class="media-content">
                      <h2 class="title is-4">{{ event.title }}</h2>
                      <h3 class="subtitle is-6">{{ event.subtitle }}</h3>
                      <span>
                        <span class="icon">
                          <i class="far fa-calendar-alt"></i>
                        </span>
                        <time datetime="{{ event.event_date }}">{{ event.event_date }}</time>
                      </span>
                    </div>
                  </div>
                </div>

                <hr>

                <div class="content has-text-centered has-text-justified">
                  <article>
                    <div class="content">
                      {{ event.description | safe | truncatewords_html:100 }}
                    </div>
                  </article>
                  <br>
                  <span class="link-container">
                    <a href="{% url 'website:event-detail' event.pk %}">Voir les détails ...</a>
                  </span>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <span>Aucun évènement ne correspond à votre recherche</span>
          {% endif %}
        </div>
      </div>
  </section>

<script type="text/javascript">
  document.getElementById('datetime').valueAsDate = new Date();
</script>
<link rel="stylesheet" type="text/css" href="{% static 'website/css/events.css' %}">

{% endblock %}



