{% extends 'website/base.html' %}
{% load static %}

{% block content %}
  <section class="events">
    <div class="container">
        <div class="form-container ">
          <form method="get">

            <div class="field">
              <div class="field-label">
                <label class="label">&#192; partir du</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input name="date" class="input" id="datetime" type="date" value="{{ date }}">
                  </div>
                </div>
              </div>
            </div>

            <div class="field">
              <div class="field-label">
                <label class="label">Type d'évènement</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    {% if eventTypes %}
                      <div class="select">
                        <select class="input" name="type">
                          <option value="Tous">Tous</option>
                          {% for eventType in eventTypes %}
                            {% if chosenType == eventType.name %}
                              <option value="{{ eventType.name }}" selected="selected">{{ eventType.name }}</option>
                            {% else %}
                              <option value="{{ eventType.name }}">{{ eventType.name }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="field">
              <div class="field-label">
                <label class="label">Recherche</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input type="text" class="input" name="keyword" value="{{ keyword }}" placeholder="Mot clé">
                  </div>
                </div>
              </div>
            </div>

            <div class="control has-text-centered">
              <button type="submit" class="button is-large">Chercher</button>
            </div>
          </form>
        </div>

        <div class="events-container">
          {% if events %}
            {% for event in events %}

              <div class="event card">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      {% if event.photo %}
                        <figure class="image">
                          <img src="{{ event.photo.url }}" alt="event image">
                        </figure>
                      {% endif %}
                    </div>
                    <div class="media-content">
                      <h1 class="title title-link is-4"><a href="{% url 'website:event-detail' event.pk %}">{{ event.title }}</a></h1>
                      <h2 class="subtitle is-6">{{ event.subtitle }}</h2>
                      <div class="event-detail">
                        <div>
                          <span class="icon">
                            <i class="fas fa-tag"></i>
                          </span>
                          {{ event.event_type }}
                        </div>
                        <div>
                          <span class="icon">
                            <i class="far fa-calendar-alt"></i>
                          </span>
                          <time datetime="{{ event.event_date }}">{{ event.event_date | date:"D d M Y"}}</time>
                          <span class="icon">
                            <i class="far fa-clock"></i>
                          </span>
                          <time datetime="{{ event.event_date }}">{{ event.event_date | date:"G:i"}}</time>
                        </div>
                        {% if event.infos %}
                          <div>
                            <span class="icon">
                              <i class="fas fa-info-circle"></i>
                            </span>
                            {{ event.infos }}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>

                <hr>

                <div class="content has-text-centered has-text-justified">
                  <article>
                    <div class="content">
                      {{ event.description | safe | truncatewords_html:100 }}
                    </div>
                  </article>
                  <br>
                  <span class="link-container">
                    <a href="{% url 'website:event-detail' event.pk %}">Voir les détails >></a>
                  </span>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <span class="text-container has-text-centered">Aucun évènement ne correspond à votre recherche</span>
          {% endif %}
        </div>
    </div>
  </section>


<link rel="stylesheet" type="text/css" href="{% static 'website/css/events.css' %}">

{% endblock %}



