{% extends 'website/base.html' %}

{% load sass_tags solo_tags static utils %}

{% block content %}
	{% get_solo 'website.Settings' as settings %}
	<section class="hero-container">
		<div class="hero-image" style="background-image: url({{ settings.banner.url }})">
		</div>
	</section>

	<div class="columns">
		<div class="column is-9">

			{% get_solo 'website.Ad' as ad %}
			{% if ad.content and ad.title %}
				<section class="ads">
					<div class="card">
						<div class="card-content">
							<h1 class="title is-size-5">
						      {{ ad.title | safe }}
						    </h1>
							<div class="content">{{ ad.content | safe }}</div>
						</div>
					</div>
				</section>
			{% endif %}


			{%if articles%}
				<section class="articles">
					<h1 class="title section-title is-size-5">Dernières publications</h1>
					<div class="articles-container">
						{% for article in articles %}
							<div class="article box">
								{% if article.photo %}
									<figure>
										<p class="image">
											<img src="{{ article.photo.url }}" alt="article image">
										</p>
									</figure>
								{% endif %}
								<h1 class="title has-text-centered title-link is-size-5">
							      <a href="{% url 'website:article-detail' article.slug %}">{{ article.title | safe }}</a>
							    </h1>
								<div class="content has-text-justified">{{ article.content | safe | truncatewords_html:50 }}</div>
								<span class="date-container is-size-6">
									<i class="fas fa-feather-alt"></i> {{ article.created_on | date:"d F Y" | lower }}
								</span>
							</div>
						{% endfor %}
					</div>
				</section>
			{% endif %}
		</div>
		<div class="column events-index-container is-3">
			<div class="events-index">
				{% if events %}
					<h1 class="title section-title is-size-5">&#192; venir ...</h1>
					{% for event in events %}
						<div class="box">
							<article class="media">
								<div class="media-left">
									<figure class="image is-64x64">
										<div class="event-day-letter">
											<div class="day-letter is-size-7">
												{{ event.event_date | date:"l" | upper }}
											</div>
											<div class="day-letter is-size-3">
												{{ event.event_date | date:"d"}}
											</div>
										</div>
									</figure>
								</div>
								<div class="media-content">
									<div class="content event-title">
										<h3 class="title is-size-5 title-link"><a href="{% url 'website:event-detail' event.pk %}">{{ event.title }}</a></h3>
										<h4 class="subtitle is-size-6">{{ event.subtitle }}</h4>
									</div>
									<div class="content event-infos">
										<div class="infos-date">
											<span class="icon">
												<i class="far fa-clock"></i>
											</span>
											<time datetime="{{ event.event_date }}">{{ event.event_date | date:"G:i" }}</time>
										</div>
										{% if event.infos %}
											<div class="infos-price">
												<span class="icon">
													<i class="fas fa-info-circle"></i>
												</span>
												{{ event.infos }}
											</div>
										{% endif %}
									</div>
								</div>
							</article>
						</div>
					{% endfor %}
					<hr>
					<div class="event-footer has-text-centered">
						<span>
							<a href="{% url 'website:events' %}">Voir tout les événements</a>
						</span>
						<span>
							{% load flatpages %}
							{% get_flatpages '/projets/' as projects_pages %}
							{% if projects_pages %}
								{% for page in projects_pages %}
									{% if 'demande' in page.title %}
										<a href="{{ page.url }}">Proposer un événement</a>
									{% endif %}
								{% endfor %}
							{% endif %}
						</span>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<link href="{% sass_src 'website/scss/components/index.scss' %}" rel="stylesheet" type="text/css" />

{% endblock %}
