
{% extends 'website/base.html' %}

{% load static %}
{% load utils %}

{% block content %}
	<section class="hero-container">
		<div class="hero-image">
		</div>
	</section>

	<div class="columns">
		<div class="column is-9">

			{% if ad %}
				<section class="ads">
					<div class="card">
						<div class="card-content">
							<h1 class="title is-size-5">
						      {{ ad.title | safe }}
						    </h1>
							<div class="content">{{ ad.content | safe }}</div>
						</div>
					</div>
				</section>
			{% endif %}

			{%if articles%}
				<section class="articles">
					<h1 class="title section-title is-size-5">Dernières publications</h1>
					<div class="articles-container">
						{% for article in articles %}
							<div class="article box">
								{% if article.photo %}
									<figure>
										<p class="image">
											<img src="{{ article.photo.url }}" alt="article image">
										</p>
									</figure>
								{% endif %}
								<h1 class="title has-text-centered title-link is-size-5">
							      <a href="{% url 'website:article-detail' article.slug %}">{{ article.title | safe }}</a>
							    </h1>
								<div class="content">{{ article.content | safe | truncatewords_html:50 }}</div>
								<br>
								<span class="link-container">
									<a href="{% url 'website:article-detail' article.slug %}">Voir plus ...</a>
								</span>
							</div>
						{% endfor %}
					</div>
				</section>
			{% endif %}
		</div>
		<div class="column events-index-container is-3 has-text-centered">
			<div class="events-index">
				{% if events %}
					<h1 class="title section-title is-size-5">&#192; venir ...</h1>
					{% for event in events %}
						<div class="card">
							<div class="card-content">
								<h2 class="title is-size-5">
							      {{ event.event_type }}
							    </h2>
								<div class="media">
									<div class="media-left">
										{% if event.photo %}
											<figure class="image is-96x96">
												<img src="{{ event.photo.url }}" alt="event image">
											</figure>
										{% endif %}
									</div>
									<div class="media-content">
										<h3 class="title is-size-5 title-link"><a href="{% url 'website:event-detail' event.pk %}">{{ event.title }}</a></h3>
										<h4 class="subtitle is-size-6">{{ event.subtitle }}</h4>
									</div>
								</div>

								<div class="media">
									<span class="icon">
										<i class="far fa-calendar-alt"></i>
									</span>
									<time datetime="{{ event.event_date }}">{{ event.event_date }}</time>
								</div>

							</div>
						</div>
					{% endfor %}
					<div class="event-footer">
						<span>
							<a href="{% url 'website:events' %}">Voir tout les événements</a>
						</span>
						<span>
							{% load flatpages %}
							{% get_flatpages '/projets/' as projects_pages %}
							{% if projects_pages %}
								{% for page in projects_pages %}
									{% if 'demande' in page.title %}
										<a href="{{ page.url }}">Proposer un événement</a>
									{% endif %}
								{% endfor %}
							{% endif %}
						</span>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<link rel="stylesheet" type="text/css" href="{% static 'website/css/index.css' %}">

{% endblock %}
