:root {
 --primary-color: #232931;
 --background-color: #f5eded;
 --third-color: #d72323;
 --fourth-color: #ffb400;
 --primary-text: #ffffff;
 --secondary-text: #0f4471;
 --divider-color: #BDBDBD;
 --text-icons-color: #000000;
 font-size: 16px;
 background-color: var(--background-color);
}

body, html {
	height: 100%;
}

body {
	font-family: 'Ubuntu', serif;
}

.menu-container {
	position: fixed;
	max-width: 200px;
	height: 100%;
	border-right: 1px solid black;
}

.content-container {
	width: 80vw;
}


.footer {
	background-color: var(--primary-color);
	color: var(--primary-text);
	min-height: 200px;
	bottom-margin: 0;
	width: 100%;
}

.footer iframe {
	min-width: 250px;
	width: 30vw;
	min-height: 250px;
	height: 100%;
}

.static {
	min-width: 200px;
	margin: 150px 20vw 100px 20vw;
	text-align: justify;
}

.footer-logo {
	display: block;
}

.footer-logo img {
	width: 150px;
	height: 150px;
}
